/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


.widget {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    background: #458cab; /* Old browsers */
    background: -moz-linear-gradient(left, #458cab 0%, #458cab 100%); /* FF3.6-15 */
    padding-bottom: 15px;

}

.id {
    display: flex;
    flex-direction: column;
    flex:  0 90px;
    position: relative;
    border-top: 20px solid;
}

.id::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 34px;
    background-color: #5f6264;
    border-top: 0px solid;
    z-index: 0;
}

.id-match {
    padding-top: 3px;
    padding-left: 15px;
    border-left: 20px solid;
    background-color: #faec6a;
    min-height: 15px;
    font-size: 100%;
}

.id-minute {
    background-color: #286829; // Old browsers
    background: linear-gradient(to right, #286829 0%,#41a400 100%);
    color: #b2e899;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0px;
}

.id-match::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border: 10px solid #000003;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: 0;
    left: 10px;
}

img {
    width: 16px;
}

.clock {
    letter-spacing: -1px;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: #faec6a;
    flex: auto;
    border-top: 20px solid #222423;

}

.host {
}

.host,
.gest {
    background-color: #faec6a;
    display: flex;
}

.host-1,
.gest-1 {
    flex: 1 0 auto;
    background-color: #faec6a;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.host-1,
.host-match,
.host-final {
    padding-top: 4px;
}

.host-match,
.gest-match {
    background-color: #faec6a;
    font-weight: bold;
    letter-spacing: 15px;
}

.host-final,
.gest-final {
    color: #e2f4fa;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1e7fb1;
    font-weight: bold;
}

.gest-final {
    border-bottom: 4px solid #1e7fb1;
}
